@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
      /* Use linear gradient as a fallback in case the image fails to load or is not supported */
      background: linear-gradient(to top, #4C75A3, #34495E);
      background-size: cover;
  }

  .introColor{
    color: #4C75A3;
  }
}
