@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
      /* Use linear gradient as a fallback in case the image fails to load or is not supported */
      background: linear-gradient(to top, #4C75A3, #34495E);
      background-size: cover;
  }

  .themeColor{
    background: #4C75A3;
  }
  .custom-border {
    border: 20px solid #4C75A3;
    padding: 1rem;
  }
  
}
